a {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

body {
  overflow-y: scroll;
}

ul {
  list-style: none;
}

.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}

// loading样式
.loading {
  width: 80px;
  height: 40px;
  margin: 10px auto;
}

.loading span {
  display: inline-block;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background: #f9284f;
  -webkit-animation: load 1s ease infinite;
}

@-webkit-keyframes load {
  0%, 100% {
    height: 40px;
    background: #f9284f;
  }
  50% {
    height: 70px;
    margin: -15px 0;
    background: #F9542A;
  }
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
}

.loading span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
}

.loading span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
  -webkit-animation-delay: 0.8s;
}

/*自定义内容弹框进入动画样式*/
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
  font-size: 0;
}

.clear {
  zoom: 1;
}

.clear-both {
  clear: both;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.cursor-p {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.over-hd {
  overflow: hidden;
}

.vtc-mid {
  vertical-align: middle;
}

.vtc-btm {
  vertical-align: bottom;
}

.vtc-sup {
  vertical-align: super;
}

.vtc-text-btm {
  vertical-align: text-bottom;
}

.text-lf {
  text-align: left;
}

.text-ct {
  text-align: center;
}

.text-align-rt {
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[v-cloak] {
  display: none;
}

.pos-lf-50 {
  left: 50% !important;
}

.pos-lf-0 {
  left: 0 !important;
}

.width-100 {
  width: 100px;
}

.width-150 {
  width: 150px;
}

.width-200 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.width-600 {
  width: 600px;
}

.width-pct-10 {
  width: 10%;
}

.width-pct-20 {
  width: 20%;
}

.width-pct-25 {
  width: 25%;
}

.width-pct-39 {
  width: 39%;
}

.width-pct-100 {
  width: 100%;
}

//高度开始

.ht80 {
  height: 80px;
}

.ht58 {
  height: 58px;
}

.ht50 {
  height: 50px;
}

.ht48 {
  height: 48px;
}

.lht48 {
  line-height: 48px;
}

.ht40 {
  height: 40px;
}

.ht30 {
  height: 30px;
}

.ht28 {
  height: 28px;
}

.ht44 {
  height: 44px !important;
}

.lht44 {
  line-height: 44px !important;
}

.lht40 {
  line-height: 40px;
}

.lht30 {
  line-height: 30px;
}

.lht20 {
  line-height: 20px;
}

.lht28 {
  line-height: 28px;
}

.lht20 {
  line-height: 20px;
}

.margin-auto {
  margin: auto;
}

.ml-pct-12 {
  margin-left: 12%;
}

.mt-4 {
  margin-top: 4px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-25 {
  margin-top: 25px;
}
.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-88 {
  margin-left: 88px;
}

.ml-90 {
  margin-left: 90px;
}

.ml-100 {
  margin-left: 100px;
}

.ml-120 {
  margin-left: 120px;
}

.mr-0 {
  margin-right: 0;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-25 {
  margin-right: 25px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-60 {
  margin-right: 60px;
}

.mr-80 {
  margin-right: 80px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pd-tb-20 {
  padding: 20px 0;
}

.pl-5 {
  padding-left: 5px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-68 {
  padding-left: 68px;
}

.pl-94 {
  padding-left: 94px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-60 {
  padding-right: 60px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.f-b {
  font-weight: bold;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.fs-italic {
  font-style: italic;
}

.bgF1F1F1 {
  background-color: #F1F1F1;
}

.bg-fff {
  background-color: #fff;
}

.bg-ddd {
  background-color: #ddd;
}

.bg-main-color {
  background-color: #f9284f;
}

.bgF8F6F7 {
  background-color: #F8F6F7;
}

.clf99563 {
  color: #f99563;
}

.cl-fff {
  color: #fff;
}

.cl000 {
  color: #000;
}

.cl999 {
  color: #999;
}

.cl666 {
  color: #666;
}

.cl9c4040 {
  color: #9c4040;
}

.cl57C78D {
  color: #57C78D;
}

.cl75C5FF {
  color: #75C5FF;
}

.cle60012 {
  color: #e60012 !important;
}

.cl-red {
  color: red;
}

.blue {
  color: #2D8cF0;
}

.container {
  width: 1200px;
  margin: auto;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-5 {
  border-radius: 5px;
}

.border-top {
  border-top: 1px solid #e9eaec;
}

.border-ddd {
  border: 1px solid #ddd;
}

.required:before {
  content: "*";
  color: #f9284f;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.circle-text:before {
  content: "•";
  color: #999;
  font-size: 20px;
  vertical-align: bottom;
}

.container:before {
  content: " ";
  display: table;
}

.container:after {
  content: " ";
  display: table;
  clear: both;
}

.text-indent {
  text-indent: 25px
}

.main-color {
  color: #f9284f;
}

.disabled-fs-color {
  color: #bbbec4;
}

.text-decoration-through {
  text-decoration: line-through;
}

.text-decoration-underline {
  text-decoration: underline;
}

.breadcrumb {
  height: 36px;
  background-color: #fff;
  line-height: 36px;
  margin: 10px 0;
  padding: 0 10px;
}

.part-title-img-box {
  width: 270px;
  height: 30px;
  background: url('/static/img/common/part-title-img.png') no-repeat;
  margin: auto;
  span {
    font-weight: bold;
    margin-left: 113px;
    width: 96px;
    display: block;
    text-align: center;
  }
}

.example-pic {
  text-decoration: underline;
  color: #1B1BFE;
  cursor: pointer;
}

.graphic-info-itemDescription p img {
  max-width: 800px !important;
}

/*RegionPicker css start*/
.region-picker {
  width: 482px;
  .province-select,
  .city-select,
  .district-select {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
    border-radius: 4px;
    border-color: #dddee1;
    outline: none;
  }
}

.show-buyer-popup .ivu-modal {
  .ivu-modal-close .ivu-icon-ios-close-empty {
    color: #fff;

  }
  .ivu-modal-body {
    padding: 0;
  }
  .ivu-modal-footer {
    display: none;
  }
  .show-buyer-popup-body {
    height: 750px;
    background: url('/static/img/home/shower_buyer_popup.png?20180424') no-repeat;
    padding: 0;
    a {
      display: inline-block;
      background-color: transparent;
      width: 368px;
      height: 125px;
      margin: 543px auto auto 168px;
    }
    .dynamicQQ{
      position: absolute;
      bottom:142px;
      right:190px;
      width:135px;
      height:30px;
      line-height: 30px;
      text-align: center;
      font-size:20px;
      color:#fff;
      font-weight:700;
    }
  }
  .ivu-modal-content {
    border-radius: 10px;
    overflow: hidden;
  }
}

.evaluate-showker-pop {
  .ivu-modal-footer {
    border: none;
    padding: 0;
  }
}

.withdrawal-command-pop {
  .ivu-modal-footer {
    border: none;
    padding-bottom: 10px;
  }
  .ivu-input {
    text-align: center;
  }
  .ivu-modal-header {
    border: none;
  }
  .ivu-modal-body {
    padding: 0 16px 16px 16px;
  }
  .ivu-btn-error {
    width: 82px;
  }
}


/*RegionPicker css end*/
