a {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

body {
  overflow-y: scroll;
}

.showSweetAlert {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}

/*自定义内容弹框进入动画样式*/
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.clear::after {
  content: '';
  display: table;
  clear: both;
  font-size: 0;
}

.clear {
  zoom: 1;
}

.clear-both {
  clear: both;
}

.margin {
  margin: 0 auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.cursor-p {
  cursor: pointer;
}

.pos-rel {
  position: relative;
}

.over-hd {
  overflow: hidden;
}

.vtc-mid {
  vertical-align: middle;
}

.vtc-btm {
  vertical-align: bottom;
}

.vtc-text-btm {
  vertical-align: text-bottom;
}
.text-lf{
  text-align: left;
}
.text-ct {
  text-align: center;
}

.text-align-rt{
  text-align: right;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[v-cloak] {
  display: none;
}

.pos-lf-50 {
  left: 50% !important;
}

.pos-lf-0 {
  left: 0 !important;
}

.mg-at {
  margin: auto;
}
.mg-20{
  margin: 20px;
}

.ml-12p {
  margin-left: 12%;
}

.mt-5 {
  margin-top: 5px;
}

.mt-6 {
  margin-top: 6px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-17 {
  margin-top: 17px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-22 {
  margin-top: 22px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-80 {
  margin-top: 80px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-15{
  margin-left: 15px;
}
.ml-20 {
  margin-left: 20px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-35 {
  margin-left: 35px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-45 {
  margin-left: 45px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-60 {
  margin-left: 60px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-88 {
  margin-left: 88px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

.mr-40 {
  margin-right: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pd-tb-20 {
  padding: 20px 0;
}

.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-60 {
  padding-left: 60px;
}

.pl-94 {
  padding-left: 94px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.f-b {
  font-weight: bold;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
}

.bgF1F1F1{
  background-color: #F1F1F1;
}
.bgfff{
  background-color: #fff;
}
.clff6633{
  color: #ff6633;
}
.cl000 {
  color: #000;
}

.cl999 {
  color: #999;
}
.cl666{
  color: #666;
}
.cl97C71C{
  color: #97C71C;
}
.clC4C71D{
  color: #C4C71D;
}
.cl57C78D{
  color: #57C78D;
}
.cl75C5FF{
  color: #75C5FF;
}
.container {
  width: 1200px;
  margin: auto;
}

.border50{
  border-radius: 50%;
}

.required:before {
  content: "*";
  color: #ff6633;
  font-size: 20px;
  vertical-align: -webkit-baseline-middle;
}

.circle-text:before {
  content: "•";
  color: #999;
  font-size: 20px;
  vertical-align: bottom;
}

.container:before {
  content: " ";
  display: table;
}

.container:after {
  content: " ";
  display: table;
  clear: both;
}

.search-highlight {
  color: #FF6633
}

.main-color {
  color: #ff6600;
}

.breadcrumb {
  height: 36px;
  background-color: #fff;
  line-height: 36px;
  margin: 10px 0;
  padding: 0 10px;
}
.part-title-img-box{
  width: 270px;
  height: 30px;
  background: url('/static/img/common/part-title-img.png') no-repeat;
  margin: auto;
  span{
    font-weight: bold;
    margin-left: 113px;
    width: 96px;
    display: block;
    text-align: center;
  }
}
/*RegionPicker css start*/
.region-picker{
  width: 482px;
  .province-select,
  .city-select,
  .district-select{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
    border-radius: 4px;
    border-color: #dddee1;
    outline: none;
  }
}
/*RegionPicker css end*/
